h1{
    text-align: center;
    font-weight: 700;
}

#procard{
    height: 350px;
    margin-top: 10px;
}
#proimg{
    width: 100%;
    height: 130px;
    transition: 1s;
}
#proimg:hover{
    width: 100%;
    height: 130px;
    padding: 10px;

}
