#bitimg{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    transition: 1.5s;
}
#bitimg:hover{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
#logotext{
    font-size: 15px;
}